extends ../layouts/adminMain

block content
  body
    main.admin__main
      .admin__page#admin__sample-page
        .layout-wrapper.layout-content-navbar
          .layout-container
            //- BEGIN: Sidebar menu
            include adminSidebar
            //- END: Sidebar menu
            //- BEGIN: Layout container
            .layout-page
              //- BEGIN: Navbar
              include adminNavbar
              //- END: Navbar
              //- BEGIN: Content wrapper
              .content-wrapper
                //- BEGIN: Content
                .container-xxl.flex-grow-1.container-p-y
                  h4.fw-bold.py-3.mb-3.admin__page-title=`${adminNameKo} 관리`
                    span.text-muted 내용이 보이지 않을 시 좌우로 스크롤 해보세요.
                  .row
                    .content-body
                      //- BEGIN: Basic Tables
                      #basic-table.row
                        .col-12
                          .card(style="overflow: scroll;")
                            //- BEGIN: Top button collections
                            .top__btn-items.card-body
                              .top__btn-items-wrap
                                //- BEGIN: Search bar section
                                //- FIXME: 검색 기능을 사용하지 않는 경우 해당 영역 삭제 必 - 사용 시 Controller에서 세팅 必
                                .top__btn-item.top__btn-item-search
                                  form.needs-validation(method="GET")
                                    .input-group
                                      select#basicSelect.form-control(name="searchKey")
                                        //- FIXME: 사용할 데이터 이름과 model에 사용된 key값을 value로 지정 [모든 검색은 키워드 검색, String만 가능, Number처리 필요할 경우 Controller에서 따로 작업 必]
                                        each option in searchArr
                                          if option.code === searchKey
                                            option(value=option.code selected)=option.title
                                          else
                                            option(value=option.code)=option.title
                                      input.form-control(type='search' name="searchValue" placeholder='검색어를 입력하세요...' value=searchValue aria-describedby='button-addon2')
                                      #button-addon2.input-group-append
                                        button.btn.btn-primary.waves-effect.search__btn(type="submit") 검색
                                //- END: Search bar section
                              .top__btn-items-wrap
                                //- BEGIN: Excel download button section
                                //- FIXME: 엑셀 다운로드 기능을 사용하지 않는 경우 해당 영역 삭제 必 - 사용 시 Controller에서 세팅 必
                                .top__btn-item.top__btn-item-excel
                                  button#excel__download-btn.btn.btn-secondary.buttons-collection.btn-label-primary.waves-effect.waves-light(type='button' name=`${adminNameKo}`)
                                    i.ti.ti-file-export.me-sm-1
                                    | 엑셀 다운로드
                                  //- FIXME: 데이터 동기화 必
                                  table#tableData(style='display: none;')
                                    thead
                                      tr
                                        th 번호
                                        th 아이디
                                        th 가입일
                                    tbody
                                      each item, index in excelData
                                        tr
                                          td=index + 1
                                          td=item.userID
                                          td=dateFormatYMDHm(item.createdAt)
                                //- END: Excel download button section
                            //- END: Top button collections
                            //- BEGIN: Data table
                            .table-responsive
                              //- FIXME: 각 칼럼 width 적절히 조정 후 합계로 min-width 설정 必
                              table.table.table-hover.table-striped.mb-0(style="min-width: 980px;")
                                thead
                                  tr
                                    //- FIXME: 데이터 동기화 必
                                    th.text-center(scope='col' style="width: 80px;") 번호
                                    th.text-center(scope='col' style="width: 100px;") 삭제
                                    th(scope='col' style="width: 200px;") 아이디
                                    th(scope='col' style="width: 200px;") 이름
                                    th(scope='col' style="width: 200px;") 승인
                                    th(scope='col' style="width: 200px;") 가입일
                                tbody
                                  each item, index in adminItems
                                    tr
                                      //- FIXME: 데이터 동기화 必
                                      td.text-center(scope='col' style="width: 80px;")
                                        span.font-weight-bold=`${index + 1}`
                                      td.text-center(scope='col' style="width: 100px;")
                                        .td__items
                                          if item.role !== "master"
                                            a.td__item(href=`${routes.admin}${adminLink}/delete/${item._id}` onclick="return confirm('정말 삭제 하시겠습니까?')")
                                              svg.feather.feather-trash.mr-50(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                                polyline(points='3 6 5 6 21 6')
                                                path(d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2')
                                          else
                                            | 삭제 불가
                                      td(scope='col' style="width: 200px;")=item.userID
                                      td(scope='col' style="width: 200px;")=item.name
                                      td(scope='col' style="width: 200px;")
                                        if loggedUser.role === "master"
                                          //- 승인
                                          if item.role === "general"
                                            a.badge.bg-label-success(type='button' href=`${routes.admin}${adminLink}/approve/${item._id}` onclick="return confirm('정말 승인 하시겠습니까?')") 승인하기
                                          else if item.role === "admin"
                                            | 일반 관리자(승인됨)
                                          else if item.role === "master"
                                            | 마스터 관리자
                                      td(scope='col' style="width: 200px;")=dateFormatYMDHm(item.createdAt)
                            //- END: Data table
                      //- END: Basic Tables
                      //- BEGIN: Pagination
                      #pagination__flex
                        if adminItems.length !== 0
                          nav(aria-label="Page navigation")
                            ul.pagination
                              li.page-item.first
                                a.page-link.waves-effect(href=`?page=1&limit=${limit}` aria-label="First")
                                  i.ti.ti-chevrons-left.ti-xs
                              li.page-item.prev
                                a.page-link.waves-effect(href=paginate.href(true) aria-label="Previous")
                                  i.ti.ti-chevron-left.ti-xs
                              each page in pages
                                if paginate.page === page.number
                                  li.page-item.active(aria-current='page')
                                    a.page-link.waves-effect(href=page.url)=page.number
                                else
                                  li.page-item
                                    a.page-link.waves-effect(href=page.url)=page.number
                              li.page-item.next
                                a.page-link.waves-effect(href=paginate.href())
                                  i.ti.ti-chevron-right.ti-xs
                              li.page-item.last
                                a.page-link.waves-effect(href=`?page=${pageCount}&limit=${limit}`)
                                  i.ti.ti-chevrons-right.ti-xs
                      //- END: Pagination
                //- END: Content
              //- END: Content wrapper
            //- END: Layout container
    //- Repeated scripts
    include adminScripts
    //- Vendors JS
    //- Main JS
    script(src="/assets/js/main.js")
    //- Page JS