aside#layout-menu.layout-menu.menu-vertical.menu.bg-menu-theme
  .app-brand.demo
    a.app-brand-link(href=routes.admin)
      span.app-brand-text.demo.menu-text.fw-bold(style="margin-left: 0 !important;")=`${siteName} 관리자`
    a.layout-menu-toggle.menu-link.text-large.ms-auto(href="javascript:void(0);")
      i.ti.menu-toggle-icon.d-none.d-xl-block.ti-sm.align-middle
      i.ti.ti-x.d-block.d-xl-none.ti-sm.align-middle
  .menu-inner-shadow
  ul.menu-inner.py-1#admin__menu-items
    //- 유저 관리
    li.menu-header.small.text-uppercase
      span.menu-header-text 유저 관리
    //- 유저 관리 > 관리자 계정 관리
    li.menu-item#admin__menu-user
      a.menu-link(href=`${routes.admin}`)
        i.menu-icon.tf-icons.ti.ti-user-search
        | 관리자 계정 관리
    //- 샘플 관리
    li.menu-header.small.text-uppercase
      span.menu-header-text 샘플 관리
    //- 샘플 관리 > 샘플 데이터 관리
    li.menu-item#admin__menu-sample
      a.menu-link(href=`${routes.admin}${routes.adminSample}`)
        i.menu-icon.tf-icons.ti.ti-test-pipe
        | 샘플 데이터 관리